      upstream backend {
      server 10.0.0.1:80;
      server 10.0.0.2:80;
      server 10.0.0.3:80;
       }
      server {
        listen 80;
        server_name {{ fqdn }};
        location / {
          proxy_pass http://backend;
        }
      }
